/* You can add global styles to this file, and also import other style files */

.top-buffer {
  margin-top: 20px;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bottom-alert {
  position: absolute;
  bottom: 0;
  left: 50px;
  right: 50px;
}
