
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">-R$ 250,00</h5>
      <small>21/02/2017</small>
    </div>
    <p class="mb-1">TED</p>
    <p class="mb-1">Destinatário: Jose Jose</p>
    <small>Banco do Brasil</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">R$ 250,00</h5>
      <small>21/02/2017</small>
    </div>
    <p class="mb-1">TED</p>
    <p class="mb-1">Origem: Jose Jose</p>
    <small>Banco do Brasil</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">-R$ 250,00</h5>
      <small>21/02/2017</small>
    </div>
    <p class="mb-1">TED</p>
    <p class="mb-1">Destinatário: Jose Jose</p>
    <small>Banco do Brasil</small>
  </a>
</div>
